.navbar {
    width: 100%;
    padding: 25px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 15px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, transparent);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 110px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* slowly transition the color as the user hovers over nav*/
.navbar-left ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-left ul li:hover {
    color: rgb(159, 159, 159);
}

.navbar-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar-right .icons {
    width: 26px;
    cursor: pointer;
}

/* Affects the size of the image */
.navbar-right .profile {
    border-radius: 4px;
    width: 35px;
}

/* Affects the organziation of the profile image and carat on the navbar */
.navbar-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    position: relative;
}

/* Affects the width of the dropdown box */
.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

/* Affects the text when the cursor clicks on user dropdown */
.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer
}

.navbar-profile:hover .dropdown {
    display: block;
}